* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1500px;
    margin: auto;
    overflow: hidden;
}

/* Header */


header {
    width: 100%;
    height: 350px;
    /* position: fixed;
    z-index: 10; */
    

}

header .header-icono {

    width: 400px;
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden;
}

header .header-icono .header-img-responsive {

    width: 100%;
    height: auto;

}

nav {
  
    text-align: center;
    padding: 30px 50px 0 0;
 
}

nav>a {
    color: black;
    font-weight: 300;
    text-decoration: none;
    margin-right: 70px;
}

nav>a:hover {
    text-decoration: underline;
}

nav img {
    width: 48px;
    height: 48px;

}


 nav a  img:hover {

   
    /* background: url(images/2.gif ); */
  
 
    
    
    
    
}


/* header .img-principal {
    width: 100%;
    height: 600px;
    margin-top: 30px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
 


}


header .img-principal video {
    width: 100%;
    position: absolute;
    z-index: -1;

}


.img-principal .textos-principal{
    display: flex;
    height: 400px;
    width: 100%;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.img-principal .textos-principal h1{
    font-size: 50px;
    color: #fff;
}

.img-principal .textos-principal h2{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
}

 */


/* Imagen principal */

.contenedor-img{
    width: 100%;
    height: 800px;
    /* background: wheat;
    background: -webkit-linear-gradient(to right, hsla(0, 1%, 38%, 0.459), hsla(0, 2%, 12%, 0.651)), url(images/IMG-42.jpg); */
    /* Chrome 10-25, Safari 5.1-6 */
    background:  url(../images/IMG-42.jpg);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

  
      }


.contenedor-img .textos-principal{
    display: flex;
    height: 400px;
    width: 50%;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    text-align: justify;
    padding: 20px;

}


.contenedor-img .textos-principal h2 {

    font-size: 50px;
    color: #fff;


}



.contenedor-img .textos-principal p {

    font-size: 24px;
    font-weight: 300;
    color: #fff;


}

/* section videos */


 .video-contenedor{
   margin-top: 150px;
    width: 100%;
    height:100%;
 
}

.video-contenedor video{
    width: 100%;
    height: 100%;
    object-fit:cover ;
}











/* Footer */


footer {

    padding: 200px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer {
    width: 90%;

    margin: auto;


}

.contenedor-footer .content-foo p {

    text-align: center
}


.titulo-final {
    text-align: center;
    font-size: 12px;
    margin: 30px 0 0 760px;
    color: #9e9797;
}


@media screen and (max-width:1500px){
    nav {
        text-align: center;
        padding: 30px 40px 0 0;
    }

    nav>a {

        margin-right: 15px;
    }


    nav img {
        width: 28px;
        height: 28px;

    }

    nav img:hover {
        width: 28px;
        height: 28px;

    }


    .contenedor-img{
       background-position: center;
       height: 400px;
    }


    .contenedor-img .textos-principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;        
        height: 400px;
        width: 100%;       
        text-align: justify;
    
    }


    .contenedor-img .textos-principal h2 {

        font-size: 25px;
        color: #fff;
    
    
    }
    
    
    
    .contenedor-img .textos-principal p {
    
        font-size: 15px;
        font-weight: 300;
        color: #fff;
    
    
    }


  
}






@media screen and (max-width:500px){

    header {
        height: 200px;
    }
    header .header-icono {

        width: 200px;
        height: 100px;


    }


    nav {
        text-align: center;
        padding: 30px 40px 0 0;
    }

    nav>a {

        margin-right: 2px;
    }

    nav img {

        display: none;
        /* width: 10px;
        height: 10px; */

    }

    nav img:hover {
        /* width: 10px;
        height: 10px; */
        display: none;

    }

    .contenedor-img{
        width: 100%;
        height: 400px;  

        box-sizing: border-box;
        background-position: center;
    }


    .contenedor-img .textos-principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
        height: 400px;
        width: 100%;       
        text-align: justify;
        padding: 15px;
        
    
    }


    .contenedor-img .textos-principal h2 {

        font-size: 20px;
        color: #fff;
    
    
    }
    
    
    
    .contenedor-img .textos-principal p {
    
        font-size: 17px;
        font-weight: 300;
        color: #fff;
    
    
      }


    
